@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="modal fade" data-dismiss="modal" role="dialog">
    <div class="modal-dialog modal-ku" role="document">
        <div  class="modal-content">

            <div class="modal-body" style="text-align:center;">
                <img src="~/images/logo_symbol.png" class="symbol_logo" />
                <h1 class="modalhead">Change Password</h1>
                <div class="modal-input">
                    <img src="~/images/lock.svg" width="18" height="26" style="margin-top:13px; margin-left:10px;" />
                    <input type="password" ng-model="CurrentPassword" placeholder="Old Password" style="align-self:stretch;" />
                </div>
                <span style="color:red;" ng-show="CurrentPasswordError">Please enter your current password</span>
                <div class="modal-input">
                    <img src="~/images/lock.svg" width="18" height="26" style="margin-top:13px; margin-left:10px;" />
                    <input type="password" ng-model="NewPassword" placeholder="New Password" style="align-self:stretch;" />
                </div>
                <span style="color:red;" ng-show="NewPasswordError">Please enter your new password</span>
                <div class="modal-input">
                    <img src="~/images/lock.svg" width="18" height="26" style="margin-top:13px; margin-left:10px;" />
                    <input type="password" ng-model="ConfirmNewPassword" placeholder="Confirm New Password" style="align-self:stretch;" />
                </div>
                <span style="color:red;" ng-show="ConfirmNewPasswordError">Please enter your new password again<br /></span>
                <span style="color:red;" ng-show="PasswordMatchError">Both Passwords should match<br /></span>
                <button class="btn btn-success" ng-click="ChangePasswordBack()">
                    Change Password
                </button>
            </div>

        </div>
    </div>
</div>