
<style>
    p {
        padding-left: 20px;
    }
</style>
<div class="container mainContainer">
    <div class="aboutContainer">
        <h1 class="trending_topics" style="text-align:center;">
            We’re fighting misinformation and media bias
        </h1>
        <h2 class="subHead" style="text-align:center;">
            Please support us by paying whatever you believe this service is worth
        </h2>
        <p>
            You deserve better than to be manipulated and deceived by doctored information—but
            that’s exactly what most actors online are trying to do... in a race to the bottom for eyeballs and influence.

        </p>
        <p>
            We believe people deserve to form their own opinions, based on the best available evidence.
            No media outlet, politician or website should decide for you which facts should be secret and which should be public knowledge.
            It is not right for anyone to try and form your opinions for you.

        </p>
        <p>
            We believe when people are equipped with reliable and complete information, they generally form healthy opinions.
            And we believe we can build a community that supports you with the reliable information you need to form those healthy opinions.

        </p>
        <p>
            If you believe this Herculean task is worth undertaking, please support us by paying whatever you can.
            We don’t run ads and never will, so we can’t survive without your support.

        </p> <br />
        <div style="text-align:center;margin:30px 0;">
            <a class="btn btn-success" href="http://www.patreon.com/openotito" target="_blank">
                DONATE ON PATREON
            </a>
        </div>
        <br />
        <h2 class="subHead" style="text-align:center;">
            Our values
        </h2>
        <p>
            <strong>1. Truth above all else</strong> . Our commitment is to the pursuit of the most pluralistic,
            accurate and representative picture of truth on any issue.
            We will never suppress information simply because it is uncomfortable.
            We are mere agents of truth, not arbiters of it.<br /><br />
            <strong>2. Unity over partisanship</strong>. We don’t care about political camps or ideological movements,
            and we will not use our tool to progress or hinder the agendas of any orthodoxy—left or right wing,
            or anything in between. We wish to highlight how different parts of society can fit together—even at
            the extremes—not where new opportunities for division lie.<br /><br />
            <strong>3. Knowledge transcends fear</strong>. We believe fear festers where the light of knowledge does not shine.
            But, in the face of an information deluge, fear is becoming the preferred tool for coping with complex
            and uncomfortable realities. Though the acquisition of a well-rounded body of knowledge represents the
            road less travelled, we believe it is the key to the enlightenment of our collective consciousness.<br /><br />

            <strong>4. No ads</strong>. Ever. Because there’s no way we can remain truly committed to protecting you from manipulative media,
            if we take money to target you with manipulative media.
        </p> <br />
        <div style="text-align:center;margin:30px 0;">
            <a target="_blank" class="btn btn-success" href="http://www.patreon.com/openotito">
                DONATE ON PATREON
            </a>
        </div>
        <div style="height:100px"></div>

    </div>

</div>