
<style>
    p {
        padding-left:20px;
    }
</style>
<div class="container mainContainer">
    <h1 class="trending_topics">"Add a topic" help content</h1>
    <p>
        Phrase your topic carefully so it gets meaningful contributions in claims and evidence.
    </p>
    <p>
        Try to word your topic as a question that can be answered using facts:
    </p>
    <p>
        For example, "Can a human being survive in space without a suit?"
    </p>
    <p>
        Avoid speculative or aggressive wording and assumptions.
    </p>
    <p>
        You can’t add a topic unless you also add (at least) one claim and one source supporting that claim.
    </p>
    <h1 class="trending_topics">"Add a claim" help content</h1>
    <p>
        1.) Claim title = summary of factual information that helps readers understand the topic<br />
        2.) Claim description = description of factual events or discoveries confirming the claim title

    </p>
    <p>
        For example, a claim title could be, "There is no oxygen in space, so no human could survive there."
        And an example of a claim description could be, "Humans need oxygen
        to perform basic respiratory and metabolic processes but space is a vacuum with no air, so we can’t survive there without a suit."
    </p>
    <p>
        You can’t add a claim unless you also add at least one source supporting that claim.
    </p>
    <h1 class="trending_topics">"Add a source" help content</h1>
    <p>
        Sources are key in the world of òtító—they let us know which information to trust and which to disbelieve.
    </p>
    <p>
        Add links to sources that prove the claim you’ve made is factually correct.
        Or, if you agree that a claim added by someone else is factually correct, you
        can add a source to their claim (each claim can be supported by more than one source).

    </p>
    <p>
        Always check sources in claims. If the sources are deceptive or unreliable,
        downvote them—this gives poor quality claims less visibility.
        If the sources are reliable and lay out the facts clearly, upvote them as this increases the visibility
        of the claims to which they’re attached.

    </p>
    <h1 class="trending_topics">"Add counter claim" help content</h1>
    <p>
        Sometimes, a claim is factually correct (or was once considered so) but requires contextualisation using other competing facts.
    </p>
    <p>
        This is where you might want to use a counter claim.
        A counter claim competes with a main claim for the position of "most validated" claim.
        Whichever claim has the sources that have been most validated by the òtító community will be shown in the simple view, with an "MV"
        label.
    </p>
    <p>
        1.) Claim title = summary of factual information that helps readers understand the topic<br />
        2.) Claim description = description of factual events or discoveries confirming the claim title


    </p>
    <p>
        &nbsp;
    </p> <p>
        &nbsp;
    </p>
</div>
