@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model OTITO.Web.Models.Authentication.ProfileViewModel
<div class="row">
    <div class="col-md-12">
        <h2>@Model.Name</h2>
        <div class="panel panel-default">
            @foreach (var claim in Model.Claims)
            {
                <div class="panel-heading">
                    <h3 class="panel-title">@claim.Type</h3>
                </div>
                <div class="panel-body">@claim.Value</div>
            }
        </div>
    </div>
</div>
