
<style>
    p {
        font-family: 'Avenir LT Std 45 Book',
    }
</style>
<div class="container" id="responsive" style="display:none;margin-top:30px;">
    <h1 style="font-family:'Avenir LT Std 95 Black'">òtító is currently available only on desktop and laptop devices</h1>
    <p>
        òtító helps you learn the facts about important issues, while enabling you to contribute evidence to fight misinformation. We’re working hard on building you a delightful, empowering and fully functional mobile experience.
    </p>
    <img src="~/images/response_img.png" width="100%" />
    <p>
        In the meantime, please visit this website on a desktop or laptop device to access the full platform—if you sign up there, we’ll send you an email once the mobile site is ready.
    </p>
    <p>
        You can also send yourself an email reminder to check out this website on a desktop/laptop device.
    </p>
    <a class="btn btn-success"
       href="mailto:?subject=REMINDER:%20check%20out%20òtító%20on%20your%20desktop%20or%20laptop%20device&body=Remember%20to%20check%20out%20that%20website%20that’s%20empowering%20you%20to%20learn%20about%20important%20issues%20and%20fight%20misinformation.%0D%0A%0D%0Awww.otito.io"
    >
        SEND MYSELF A REMINDER
    </a>
</div>