

.mySlides {
    display: none;
    width: 100%;
    height:50%;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {

    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.paginated {
    cursor: pointer;
    height: 15px;
    width: 15px;
    cursor:pointer;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 100%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .paginated.active {
        background-color: #42d99a;

    }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}
.fade:not(.show) {
    opacity: 1 !important;
}

.slideHeadingCont {
    margin-top: 140px;
    padding-left: 20px;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-name: anim-2;
}

.slideHeadingContRight {
    margin-top: 140px;
    padding-left: 20px;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-name: anim-img;
}

h1.slideHeading {

    font-size: 40px;
    color: '#000';
    font-family: 'Avenir LT Std 85 Heavy';
    padding-left:20px;
    font-weight: normal;

}
    h1.slideHeading span {
        font-family: 'Avenir LT Std 95 Black';
        color: #42d99a;
    }
.imageRightAnim {
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-name: anim-img;
}
.imageLeftAnim {
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-name: anim-2;
}
.slideImageRight {
    margin-left: 22px;
    margin-top: 140px;

}
.leftText {

    color: #000;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Avenir LT Std 45 Book';
    font-weight: normal;
    padding: 10px 20px;

}
    .leftText span {
        font-family: 'Avenir LT Std 85 Heavy';
    }

@keyframes anim-2 {
    0%, 33.33% {
        right: -30%;
        opacity: 0;
    }
    66.66%, 100% {
        right: 0%;
        opacity: 1;
    }
}
@keyframes anim-img {
    0% {
        left: -30%;
        opacity: 0;
    }

    100% {
        left: 0%;
        opacity: 1;
    }
}




.slideImgMobile {
    display: none; 
}

.slideImgDesk {
    display: block;
}
.desktopSlides, .desktopSlidesFooter {
    display: block;
}
.mobileSlides, .mobileSlidesFooter {
    display: none;
}
.grdBtn {
    border: 0px;
    color: white;
    background: rgba(69,104,220,1);
    background: -moz-linear-gradient(45deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(69,104,220,1)), color-stop(100%, rgba(176,106,179,1)));
    background: -webkit-linear-gradient(45deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%);
    background: -o-linear-gradient(45deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%);
    background: linear-gradient(45deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4568dc', endColorstr='#b06ab3', GradientType=1 );
}
.le_home_alignment{
    margin-left:60px;
}
.searchBarAlign{
    margin-left:80px;
}
@media screen and (min-width:638px) and (max-width: 991px) {
    .searchBarAlign {
        margin-left: 20px;
    }

    .le_home_alignment {
        margin-left: 20px;
    }

    .desktopSlides, .desktopSlidesFooter {
        display: none;
    }

    .mobileSlides, .mobileSlidesFooter {
        display: block;
    }

    .slideHeadingCont, .slideHeadingContRight {
        margin-top: 40px;
    }

    .slideImgMobile {
        display: inline-block;
        float: right;
    }

    .slideImgDesk {
        display: none;
    }

    .leftText {
        color: #000;
        font-size: 22px;
        line-height: 23px;
        font-family: 'Avenir LT Std 45 Book';
        font-weight: normal;
        padding: 10px 20px 0 20px;
    }
    .grdBtn {
        padding: 12px 27px;
        font-size: 18px;
    }
    h1.slideHeading {
        font-size: 36px;
        font-family: 'Avenir LT Std 95 Black';
    }

    .slideHeadingCont, .slideHeadingContRight {
        margin-top: 10px;
    }

    .dispImgMobile {
        margin: 0px auto;
        text-align: center;
    }

        .dispImgMobile img {
            border-radius: 13px;
            border: 1px solid #9397af;
        }
}
@media screen and (min-width:0px) and (max-width: 637px) {
    .searchBarAlign {
        margin-left: 20px;
    }

    .grdBtn {
        padding: 6px 12px !important;
        font-size: 15px !important;
    }

    .le_home_alignment {
        margin-left: 20px;
    }

    .desktopSlides, .desktopSlidesFooter {
        display: none;
    }

    .mobileSlides, .mobileSlidesFooter {
        display: block;
    }

    .slideHeadingCont, .slideHeadingContRight {
        margin-top: 40px;
    }

    .slideImgMobile {
        display: inline-block;
        float: right;
    }

    .slideImgDesk {
        display: none;
    }

    .leftText {
        color: #000;
        font-size: 17px;
        line-height: 23px;
        font-family: 'Avenir LT Std 45 Book';
        font-weight: normal;
        padding: 10px 20px 0 20px;
    }

    h1.slideHeading {
        font-size: 22px;
        font-family: 'Avenir LT Std 95 Black';
    }

    .slideHeadingCont, .slideHeadingContRight {
        margin-top: 10px;
    }

    .dispImgMobile {
        margin: 0px auto;
        text-align: center;
    }

        .dispImgMobile img {
            border-radius: 13px;
            border: 1px solid #9397af;
        }
}