@model Otito.Web.Models.Topic.ClaimModel
<div class="container mainContainer">
    <h1 class="trending_topics">
        Thank you for setting the truth free.
    </h1>
    <div class="row delegate" style="margin-left:10px;">

        <p class="help-text col-lg-10">
            Thank you for helping society discover the truth about this topic. To keep this platform  as representative
            as possible—and our perception of the truth as accurate as possible—share your thesis with friends.
            Ask them to contribute claims and sources too!
        </p>
        <div class="col-lg-2">
            <button class="btn btn-default min-width-120">
                View Topic
            </button>
        </div>


    </div>

    <div class="row claim-row">
        <div class="col-lg-2 right-border">
            <img src="~/images/facebook_share_icon.png" style="margin-top:10px;
           border-radius:100px;
           -webkit-box-shadow: 0px 10px 21px 0px rgba(186,208,228,1);
-moz-box-shadow: 0px 10px 21px 0px rgba(186,208,228,1);
box-shadow: 0px 10px 21px 0px rgba(186,208,228,1);" />
        </div>
        <div class="col-lg-10 claim_head_cont">
            <p class="help-text" style="margin:0px;">
                Please share evidence that reveals the truth about this topic:
            </p>
            <h1 class="claim_head2">
                @(Model.ClaimTitle)—via Otito platform
            </h1>
            <button class="btn btn-success mr-20 min-width-120">
                Share
            </button>

        </div>
    </div>

    <div class="row claim-row">
        <div class="col-lg-2 right-border">
            <img src="~/images/twitter_share_icon.png" style="margin-top:10px; border-radius:100px;-webkit-box-shadow: 0px 10px 21px 0px rgba(181,228,246,1);-moz-box-shadow: 0px 10px 21px 0px rgba(181,228,246,1);box-shadow: 0px 10px 21px 0px rgba(181,228,246,1);" />
        </div>
        <div class="col-lg-10 claim_head_cont">
            <p class="help-text" style="margin:0px;">
                Please share evidence that reveals the truth about this topic:
            </p>
            <h1 class="claim_head2">
                @(Model.ClaimTitle)—via Otito platform
            </h1>
            <button class="btn btn-success mr-20 min-width-120">
                Share
            </button>

        </div>
    </div>

</div>